@use '../../Utilities/mixins';
@use '../../Utilities/variables';

.split-screen {
    display: flex;
    height: 100vh;
    color: white;
    font-size: 5vh;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.83);
    text-decoration: inherit;
}

.split-screen__title {
    position: absolute;
    text-align: center;
    width: 100vw;
    z-index: 10;
    font-family: 'Rock Salt';
    font-weight: 800;
    color: rgb(6, 208, 223);
}

.split {
    display: flex;
    align-items: center;
    justify-content: center;
    width:50vw;
    color: inherit;
    text-decoration: inherit;
}

.split:hover {
    width: 60vw;
}

.split-screen .split:not(:hover) {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .75;
  }

.artist-search {
    background: linear-gradient(10deg, rgba(44, 43, 43, 0.543) 19%, rgba(37, 24, 24, 0.704) 83%), url(/Images/recordstore1.jpg);
    background-size: cover;
}

.user-collection {
    background: linear-gradient(10deg, rgba(70, 67, 67, 0.543) 19%, rgba(40, 25, 26, 0.678) 83%), url(/Images/collection.jpg);
    background-size: cover;
}

.home-page-text {
    font-family: 'Staatliches';
    text-shadow: 5px 3px 4px rgba(0, 0, 0, 0.982);
}