@use '../../Utilities/mixins';
@use '../../Utilities/variables';

.header {
  display: flex;
  align-items: center;
  position: absolute;
  height: 140px;
  width: 100%;
  background-color: variables.$container-gray;
}

.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  font-family: 'Rock Salt';
  font-size: 3rem;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0px;

  & li {
    list-style: none;
  }
}

.nav-button {
  @include mixins.themeButton();
  width: 180px;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-family: 'Staatliches';
  font-size: 1.5rem;
}