@use '../../Utilities/mixins';
@use '../../Utilities/variables';

  
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.carousel {
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.650);
}

.album-tile {
    color: inherit;
    text-decoration: inherit;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    color: white;
}

.album-image {
    width: 80%;
    height: 80%;
    box-shadow: 2px 2px 2px black;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    height: 55vh;
    width: 80vw;
}

.carousel-navigate {
    height: 55vh;
    background-color: rgba(128, 128, 128, 0.650);
    margin: 0;
    border: none;
    width: 10vh;
    font-size: 8vh;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.carousel-navigate:hover {
    background-color: rgba(180, 180, 180, 0.65);
}

.navigate > button {
    margin: 1vw;
    font-size: 5vw;
    height: 5vw;
    width: 5vw;
}

.color {
    width: 50%;
    height: 50%;
}

.carousel-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 20em;
    height: 5em;
    background: url(/Images/whitetape.png);  
    background-size: cover;
    text-align: center;  
    padding-left: 2.7em;
    padding-right: 2em;
    text-decoration: none;
  }
  
  .carousel-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3em;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.729);
    margin: 0;
  }