@use '../../Utilities/mixins';
@use '../../Utilities/variables';

// .carousel-container {
//     display: flex;
//     align-items: center;
//     flex-direction: row;
//     margin: 5%;
//     width: 80vw;
//     height: 60vh;
//     border-style: solid;
//     overflow-x: auto;
//     overflow-y: hidden;
//     white-space: nowrap;
//   }
  
.carousel {
    overflow: hidden;
}

.album-tile {
    color: inherit;
    text-decoration: inherit;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: gray;
    color: white;
}

.album-image {
    width: 50%;
    height: 50%;
    box-shadow: 2px 2px 2px black;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    height: 50vh;
    width: 50vh;
}

.carousel-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: black;
    color: white;
    text-decoration: inherit;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 1vw;
    font-size: 5vw;
    height: 5vw;
    width: 5vw;
}

.color {
    width: 50%;
    height: 50%;
}

.album-title {
    color: inherit;
    text-decoration: none;
}
