@use './Utilities/mixins';
@use './Utilities/variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:visited {
  color: black;
}

a {
  color: black;
}

button {
  transition-duration: 500ms;

  &:hover {
    cursor: pointer;
  }
}