@use '../../Utilities/mixins';
@use '../../Utilities/variables';

.album-section-parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 82vh;
  padding-top: 18vh;
  @include mixins.exploreBg();
  color: white;
}

.directory {
  width: min(100%, 1480px);
}

.directory__artist a {
  color: white;
}

.album-section {
  width: min(100%, 1480px)
}

.album-section {
  display: flex;
  justify-content: space-between;
}

.album-details {
  width: 41%;
  background-color: variables.$container-gray;
  padding: 4%;
}

.album-details__name {
  font-size: 2rem;
}

.album-details__last-link a {
  color: white;
}

.add-button {
  @include mixins.themeButton();
  font-size: 1rem;
  border: none;
  height: 34px;
  width: 159px;
}

.saved-message {
  display: flex;
  align-items: center;
  background-color: #bfebbf;
  height: 34px;
  width: 297px;

  & p {
    margin: 0px 15px;
    color: black;
  }
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49%;
  aspect-ratio: 1 / 1;
  background-color: rgb(236 236 236);
}

.cover__mat {
  display: flex;
  width: 80%;
  aspect-ratio: 1 / 1;
}

.cover__mat__img {
  width: 100%;
}